PRIVATE_KEY="your-private-key-here"
GROUP_ADDRESS="0xc164522ebc7e6a8b4b08878cf9e330cfebf4850a"
POSTGRESQL_PW = "password-to-circles-nethermind-indexer-postgresdb"
LOGGERDB_PW = "password-to-logger-db"
